@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap';
.nav-menu-top {
  position: static;
  height: 100%;
  z-index: 2; }
  .nav-menu-top .logo-top {
    position: absolute;
    left: 50%;
    -webkit-transition: left .15s ease-out,height .15s ease-out,width .15s ease-out,margin-top .15s ease-out;
    -o-transition: left .15s ease-out,height .15s ease-out,width .15s ease-out,margin-top .15s ease-out;
    transition: left .15s ease-out,height .15s ease-out,width .15s ease-out,margin-top .15s ease-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0 15px;
    z-index: 2;
    position: absolute;
    height: 80px;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    border: none; }
    .nav-menu-top .logo-top img {
      width: 60%; }
  .nav-menu-top .exo-menu {
    width: 100%;
    float: left;
    list-style: none;
    position: relative;
    z-index: 10;
    margin-bottom: 0;
    margin-top: 0; }
    .nav-menu-top .exo-menu .margin-right-menu {
      margin-left: 55%; }
    .nav-menu-top .exo-menu > li {
      display: inline-block;
      float: left; }
    .nav-menu-top .exo-menu > li > a {
      font-size: 12px;
      color: #ffffff;
      text-decoration: none;
      text-transform: uppercase;
      border-right: 1px #365670 dotted;
      -webkit-transition: color 0.2s linear, background 0.2s linear;
      -moz-transition: color 0.2s linear, background 0.2s linear;
      -o-transition: color 0.2s linear, background 0.2s linear;
      transition: color 0.2s linear, background 0.2s linear;
      outline: none; }
    .nav-menu-top .exo-menu > li > a.active, .nav-menu-top .exo-menu > li > a:hover, .nav-menu-top .exo-menu li.drop-down ul > li > a:hover, .nav-menu-top .exo-menu li.drop-down ul > li > a:visited, .nav-menu-top .exo-menu li.drop-down ul > li > a:link {
      background: #0033be;
      color: #fff;
      outline: none; }

@media all and (min-width: 810px) {
  .logo-top {
    left: 53%; } }

@media all and (min-width: 852px) {
  .logo-top {
    left: 50%; } }

@media screen and (max-width: 991px) {
  .exo-menu {
    display: none; }
  .nav-lateral {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 9999;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */ }
  .nav-lateral a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .nav-lateral a:hover {
    color: #f1f1f1; }
  .nav-lateral .boton-cerrado {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }
  .overlay3 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s; }
  .opacidad {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0; } }

@media all and (min-width: 1150px) {
  .logo-top {
    left: 40%; } }

header {
  margin-top: 55px; }

.carousel-inner {
  height: 50vh; }

.navbar-light .navbar-toggler {
  border: none; }

.navbar-toggler:focus, .navbar-toggler:hover {
  text-decoration: none;
  border: none;
  outline: none; }

.fixed-top {
  border-bottom: 1px solid #d8d8d8;
  background-color: #1e53de !important;
  height: 80px; }

.navbar-brand img {
  width: 50%; }

.carousel-caption {
  top: 8%;
  bottom: 0;
  text-align: left;
  z-index: 8; }
  .carousel-caption h2, .carousel-caption p {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.79); }

.nav-link {
  font-size: 14px;
  color: #ffffff !important; }

/**.sidepanel {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 9999; 
  top: 0;
  right: 0;
  background-color: #ededed; /
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
  border-left:1px solid #eee;
  a {
    padding: 1px 8px 0px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    -webkit-transition: all 0.2s linear;
     -moz-transition: all 0.2s linear;
     -o-transition: all 0.2s linear;
     -ms-transition: all 0.2s linear;
     transition: all 0.2s linear;
    &:hover {
      color: #818181;
      text-transform:normal;
    }
  }
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    &:hover {
      color: #818181;
    }
  }
}*/
.openbtn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #ffffff !important;
  position: relative; }
  .openbtn:after {
    content: "";
    position: absolute;
    height: 100%;
    background: url("../images/sheet.png");
    background-repeat: no-repeat;
    padding-right: 24px;
    top: 0;
    margin-left: 8px; }

.navigator-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px solid #eee; }

.header-nav {
  z-index: 1000;
  position: relative; }
  .header-nav .topnav {
    overflow: hidden;
    background-color: #ffffff; }

.topnav a {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  float: left;
  display: block;
  color: #959a9d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px; }
  .topnav a:hover {
    background-color: #ddd; }

.boton {
  display: none; }

.topnav .icon {
  display: none; }

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  z-index: 9999;
  top: 0;
  /* Stay at the top */
  right: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */ }

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1; }

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  -webkit-transition: margin-left .5s;
  -o-transition: margin-left .5s;
  transition: margin-left .5s;
  padding: 20px; }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

.clearfix:after,
.clearfix:before {
  content: '';
  display: table; }

.clearfix:after {
  clear: both;
  display: block; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a, a:hover, a.active, a:active, a:visited, a:focus {
  color: #222222;
  text-decoration: none; }

.exo-menu > li > a.active,
.exo-menu > li > a:hover,
li.drop-down ul > li > a:hover {
  background: #0033be;
  color: #fff; }

.exo-menu i {
  float: left;
  font-size: 18px;
  margin-right: 6px;
  line-height: 20px !important; }

li.drop-down > ul {
  left: 0px;
  min-width: 230px; }

.drop-down-ul {
  display: none; }

.flyout-right > ul,
.flyout-left > ul {
  top: 0;
  min-width: 230px;
  display: none;
  border-left: 1px solid #365670; }

li.drop-down > ul > li > a,
.flyout-right ul > li > a,
.flyout-left ul > li > a {
  color: #fff;
  display: block;
  padding: 20px 22px;
  text-decoration: none;
  background-color: #365670;
  border-bottom: 1px dotted #547787;
  -webkit-transition: color 0.2s linear, background 0.2s linear;
  -moz-transition: color 0.2s linear, background 0.2s linear;
  -o-transition: color 0.2s linear, background 0.2s linear;
  transition: color 0.2s linear, background 0.2s linear; }

.flyout-right ul > li > a,
.flyout-left ul > li > a {
  border-bottom: 1px dotted #B8C7BC; }

/*Flyout Mega*/
.flyout-mega-wrap {
  top: 0;
  right: 0;
  left: 100%;
  width: 100%;
  display: none;
  height: 100%;
  padding: 15px;
  min-width: 742px; }

h4.row.mega-title {
  color: #eee;
  margin-top: 0px;
  font-size: 13px;
  padding-left: 15px;
  padding-bottom: 13px;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc; }

.flyout-mega ul > li > a {
  font-size: 13px;
  line-height: 25px;
  color: #fff;
  font-family: inherit; }

.flyout-mega ul > li > a:hover,
.flyout-mega ul > li > a:active,
.flyout-mega ul > li > a:focus {
  text-decoration: none;
  background-color: transparent !important;
  color: #ccc !important; }

/*mega menu*/
.mega-menu {
  left: 0;
  right: 0;
  padding: 15px;
  display: none;
  padding-top: 0;
  min-height: 100%; }

h4.row.mega-title {
  margin-top: 0px;
  font-size: 13px;
  padding-left: 15px;
  padding-bottom: 13px;
  text-transform: uppercase;
  border-bottom: 1px solid #eee;
  padding-top: 15px;
  background: #ffffff;
  color: #222222; }

.mega-menu ul li a {
  line-height: 25px;
  font-size: 13px; }

ul.stander li a {
  margin-top: 12px; }
  ul.stander li a.button {
    padding: 5px 15px; }

ul.description li {
  padding-bottom: 12px;
  line-height: 8px; }

ul.description li span {
  color: #ccc;
  font-size: 85%; }

a.view-more {
  border-radius: 1px;
  margin-top: 15px;
  background-color: #009FE1;
  padding: 2px 10px !important;
  line-height: 21px !important;
  display: inline-block !important; }

a.view-more:hover {
  color: #fff;
  background: #0DADEF; }

ul.icon-des li a i {
  color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  background-color: #009FE1;
  line-height: 35px !important; }

ul.icon-des li {
  width: 100%;
  display: table;
  margin-bottom: 11px; }

/*common*/
.flyout-right ul > li > a,
.flyout-left ul > li > a,
.flyout-mega-wrap,
.mega-menu {
  background: #ffffff;
  color: #222222;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee; }

/*hover*/
.Blog:hover,
.Images:hover,
.mega-menu:hover,
.drop-down-ul:hover,
li.flyout-left > ul:hover,
li.flyout-right > ul:hover,
.flyout-mega-wrap:hover,
li.flyout-left a:hover + ul,
li.flyout-right a:hover + ul,
.blog-drop-down > a:hover + .Blog,
li.drop-down > a:hover + .drop-down-ul,
.images-drop-down > a:hover + .Images,
.mega-drop-down a:hover + .mega-menu,
li.flyout-mega > a:hover + .flyout-mega-wrap {
  display: block; }

/*responsive*/
@media (min-width: 767px) {
  .exo-menu > li > a {
    display: block;
    padding: 30px 22px; }
  .mega-menu, .flyout-mega-wrap, .Images, .Blog, .flyout-right > ul,
  .flyout-left > ul, li.drop-down > ul {
    position: absolute; }
  .flyout-right > ul {
    left: 100%; }
  .flyout-left > ul {
    right: 100%; } }

@media (max-width: 767px) {
  .wrapper-padding.nav-menu-top {
    padding: 0; }
  .exo-menu {
    min-height: 58px;
    width: 100%; }
  .exo-menu > li > a {
    width: 100%;
    display: none; }
  .exo-menu > li {
    width: 100%;
    background-color: #1e53de !important; }
  .exo-menu > li:first-child {
    margin-top: 82px; }
  .display.exo-menu > li > a {
    display: block;
    padding: 20px 22px; }
  .nav-menu-top .exo-menu .margin-right-menu {
    margin-left: 0; }
  .mega-menu, .Images, .Blog, .flyout-right > ul,
  .flyout-left > ul, li.drop-down > ul {
    position: relative; } }

a.toggle-menu {
  position: absolute;
  right: 0px;
  padding: 20px;
  font-size: 27px;
  background-color: #ccc;
  color: #23364B;
  top: 0px; }

footer {
  background-color: #222222;
  padding-top: 50px;
  padding-bottom: 30px;
  color: #ffffff; }
  footer .footer-img {
    margin-bottom: 30px; }
  footer ul {
    list-style: none;
    padding-left: 0; }
  footer .direccion {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin-bottom: 30px; }
    footer .direccion li {
      margin-bottom: 0;
      padding-left: 0;
      font-size: 14px;
      color: #ffffff; }
    footer .direccion li {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      position: relative;
      line-height: 25px;
      color: #ffffff; }
  footer .propiedades-footer h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
    color: #ffffff; }
  footer .propiedades-footer li a {
    font-weight: 300;
    font-size: 14px;
    color: #ffffff; }
  footer .nav-footer {
    display: inline-block;
    font-size: 0;
    padding-top: 20px; }
    footer .nav-footer a {
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      margin-bottom: 10px;
      font-size: 12px;
      color: #ffffff;
      padding: 0 8px; }
      footer .nav-footer a:first-of-type {
        padding-left: 0; }

body {
  font-family: "Roboto", sans-serif; }

.form-control:focus {
  border-color: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

a.button, button.button {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #e9701f;
  color: #ffffff;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding: 0.7em 2em;
  border-radius: 5px;
  border: 0; }

a.button:before, button.button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e1e1e1;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 5px; }

a.button:hover, button.button:hover {
  color: #e9701f;
  text-decoration: none; }

a.button:focus, button.button:focus {
  color: #4CAF50;
  text-decoration: none; }

a.button:active, button.button:active {
  color: #4CAF50;
  text-decoration: none; }

a.button:hover:before, button.button:hover:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1); }

a.button:focus:before, button.button:focus:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1); }

a.button:active:before, button.button:active:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1); }

.tag-small {
  position: absolute;
  color: #ffffff;
  background-color: #cf600f;
  z-index: 2;
  top: 20px;
  left: 0px;
  padding: 8px 20px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 5px 4px 13px !important;
  box-shadow: rgba(0, 0, 0, 0.12) 5px 4px 13px !important; }

.noticiasDestacadas {
  border: 1px solid #dedede;
  margin-bottom: 20px;
  background-color: #222222;
  position: relative; }
  .noticiasDestacadas .tag {
    position: absolute;
    color: #ffffff;
    background-color: #cf600f;
    z-index: 2;
    top: 20px;
    left: -20px;
    padding: 8px 20px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    -webkit-box-shadow: rgba(0, 0, 0, 0.12) 5px 4px 13px !important;
    box-shadow: rgba(0, 0, 0, 0.12) 5px 4px 13px !important; }
  .noticiasDestacadas .col-lg-4, .noticiasDestacadas .col-sm-4 {
    padding: 0; }
  .noticiasDestacadas .informacion-noticia {
    position: relative; }
    .noticiasDestacadas .informacion-noticia .boton-noticia {
      bottom: 0;
      position: absolute;
      right: 0;
      margin-right: 15px;
      margin-bottom: 15px; }
  .noticiasDestacadas img {
    width: 100%; }
  .noticiasDestacadas h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 25px;
    padding: 20px 0;
    color: #e9701f;
    /*color:$orange;*/
    text-align: right; }
  .noticiasDestacadas p {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    color: #ffffff;
    text-align: right;
    font-weight: 300; }
  .noticiasDestacadas h3 {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #959a9d;
    text-align: right;
    font-weight: 500; }
  .noticiasDestacadas h5 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #959a9d;
    text-align: right;
    font-weight: 300; }
    .noticiasDestacadas h5 strong {
      font-weight: 900;
      font-size: 18px; }

.imagenPublicidad img {
  width: 100%; }

p.medium {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: left; }

.wrapper-padding {
  padding-left: 50px;
  padding-right: 50px; }

.sidepanel select {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  height: 52px;
  background: transparent; }

.publicidad img {
  width: 100%; }

.publicidad h3 {
  color: #2B2C47;
  margin-bottom: 30px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center; }

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.propiedades span {
  color: #4684e2;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  display: block; }

.propiedades h3 {
  color: #010101;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900; }

.contenidoWrapperThree {
  padding-top: 50px;
  padding-bottom: 50px; }
  .contenidoWrapperThree h3 {
    color: #2B2C47;
    margin-bottom: 30px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-align: center; }
  .contenidoWrapperThree .homeProdinfo span {
    color: #1e53de;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    display: block; }
  .contenidoWrapperThree .homeProdinfo h3 {
    color: #010101;
    font-size: 2.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 900; }
  .contenidoWrapperThree .homeProdinfo p {
    color: #222222;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700; }
  .contenidoWrapperThree .view {
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    /*&::before {
        content:"";
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height: 100%;
        background:rgba(0,0,0,0.3);
      }*/ }
    .contenidoWrapperThree .view::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 60%;
      padding: 20px 20px;
      width: 100%;
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.85) 100%);
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.85) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.85)));
      background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.85) 100%);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.85) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0); }
    .contenidoWrapperThree .view .mask {
      padding-top: 55px; }
      .contenidoWrapperThree .view .mask img {
        display: initial; }
  .contenidoWrapperThree .view .mask {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%; }
  .contenidoWrapperThree .view-first h3, .contenidoWrapperThree .view-first h4 {
    color: #ffffff;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    margin: 20px 0; }
  .contenidoWrapperThree .view-first p {
    color: #ffffff;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding: 0 30px; }
  .contenidoWrapperThree .view-first a {
    color: #ffffff;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-decoration: underline; }
  .contenidoWrapperThree .view-first img.imgTransition {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
    width: 100%; }
  .contenidoWrapperThree .view-first .boxImgInterior {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    margin-bottom: 80px;
    z-index: 1;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    transition-delay: 0.1s; }
    .contenidoWrapperThree .view-first .boxImgInterior img.imgInterior {
      display: initial;
      -webkit-transition-delay: 0.1s;
      -moz-transition-delay: 0.1s;
      -o-transition-delay: 0.1s;
      -ms-transition-delay: 0.1s;
      transition-delay: 0.1s; }
  .contenidoWrapperThree .view-first:hover .boxImgInterior {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .contenidoWrapperThree .view-first .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    background-color: rgba(43, 44, 71, 0.7);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    z-index: 2; }
  .contenidoWrapperThree .view-first h4 {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .contenidoWrapperThree .view-first p {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -o-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .contenidoWrapperThree .view-first:hover img.imgTransition {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1); }
  .contenidoWrapperThree .view-first a.info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: #cf600f; }
  .contenidoWrapperThree .view-first:hover .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    height: 100%; }
  .contenidoWrapperThree .view-first:hover h4,
  .contenidoWrapperThree .view-first:hover p,
  .contenidoWrapperThree .view-first:hover a.info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px); }
  .contenidoWrapperThree .view-first:hover p {
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    transition-delay: 0.1s; }
  .contenidoWrapperThree .view-first:hover a.info {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s; }

.map h3 {
  color: #2B2C47;
  margin-bottom: 30px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center; }

.noticias h3 {
  color: #2B2C47;
  margin-bottom: 30px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center; }

/*.wallpaper-top{
    width: 100%;
    /*z-index: 100;
    height: 100vh;
    background-color:#333b69;
    margin-top: -80px;
    position: relative;
    max-width: 100%;
    padding: auto;
    background-color: #333b69;
    background-repeat: 'no-repeat';
    background-size: 'cover';
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.bgimg > div:first-child {
    background-image: url(../images/img.jpg);
}
.image-wallpaper {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
    top: 0px;
    left: 0px;
}*/
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  /*.topnav a:not(:first-child) {display: none;}*/
  .topnav a {
    display: none; }
    .topnav a.icon {
      float: left;
      display: block; }
  .boton {
    width: 100%;
    height: 55px;
    display: block; } }

.wrapper {
  margin-top: 100px; }

.general-accordion h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 18px;
  color: #959a9d;
  padding: 15px 10px;
  border: 1px solid #eee;
  border-radius: 8px;
  cursor: pointer; }

.general-accordion p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-bottom: 10px;
  font-size: 14px;
  padding: 0px 12px; }

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative; }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left; }
      .topnav.responsive a.icon {
        position: absolute;
        left: 0;
        top: 0; }
  .bgimg > div:first-child {
    background-image: url(../images/img-mob.jpg); } }

.simplegallery {
  width: auto; }
  .simplegallery .content {
    text-align: center;
    position: relative; }
    .simplegallery .content img {
      width: 100%; }
  .simplegallery .thumbnail {
    margin-top: 5px; }
    .simplegallery .thumbnail .thumb {
      float: left;
      width: 18%;
      margin: 0 5px 0 0;
      cursor: pointer; }
      .simplegallery .thumbnail .thumb:last-child {
        margin: 0; }
      .simplegallery .thumbnail .thumb img {
        border: 1px solid #eee;
        width: 60px;
        padding: 5px; }

.product-info dl {
  color: #e9701f;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
  display: block;
  margin-top: 8px; }

.product-info h3 {
  color: #1e53de;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px; }

.product-info .cotizadorCount span {
  color: #010101;
  font-size: 16px;
  font-weight: 900;
  line-height: 10px;
  margin: 0;
  display: inline; }
  .product-info .cotizadorCount span button {
    padding: 2px;
    font-size: 10px; }

.tablas {
  color: #222222; }
  .tablas .tablagen {
    display: table;
    width: 100%; }
  .tablas .fila {
    display: table-row; }
  .tablas .col {
    display: table-cell;
    padding: 10px 0;
    width: 50%;
    border-top: 1px solid #eee;
    font-size: 12px; }
    .tablas .col i {
      font-size: 18px;
      color: #cf600f;
      margin-right: 12px; }

.textoinformacion span {
  color: #010101;
  font-weight: 700;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee; }

.textoinformacion p {
  font-weight: 500;
  font-size: 12px;
  color: #222222; }

.lista-prod-title {
  color: #010101;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700; }

.view-fifth p {
  color: #ffffff;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 0 30px; }

.view-fifth a {
  color: #ffffff;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900; }

.view-fifth img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.view-fifth .mask {
  background-color: rgba(43, 44, 71, 0.7);
  -webkit-transform: translateX(-300px);
  -moz-transform: translateX(-300px);
  -o-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  transform: translateX(-300px);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.view-fifth h2 {
  background: rgba(255, 255, 255, 0.5);
  color: #000;
  -webkit-box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
  -moz-box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
  box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5); }

.view-fifth p {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.view-fifth:hover .mask {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px); }

.view-fifth .boxImgInterior {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  margin-bottom: 80px;
  z-index: 1;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  transition-delay: 0.1s; }

.view-fifth .boxImgInterior img.imgInterior {
  display: initial;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  transition-delay: 0.1s; }

.view-fifth h3, .view-fifth h4 {
  color: #ffffff;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  margin: 20px 0; }

.view-fifth:hover img, .view-fifth:hover h3 {
  -webkit-transform: translateX(300px);
  -moz-transform: translateX(300px);
  -o-transform: translateX(300px);
  -ms-transform: translateX(300px);
  transform: translateX(300px); }

.view-fifth:hover p {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1; }

.view-fifth.view .mask {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 2; }

.imgNoticiaBig {
  height: 40vh;
  display: block;
  clear: both;
  position: relative;
  width: 100%;
  overflow: hidden; }
  .imgNoticiaBig img {
    width: 100%; }

.infoNoticiaBig h3 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #222222;
  font-weight: 500;
  margin: 40px 0 20px; }

.infoNoticiaBig p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #222222;
  font-weight: 300;
  margin-top: 30px; }

h2.medium {
  font-size: 30px !important;
  line-height: 36px !important;
  letter-spacing: normal !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
  color: #484848 !important;
  margin: 0px !important;
  padding: 0px !important; }
  h2.medium .orange {
    color: #e9701f;
    font-weight: 300; }

.form-group {
  position: relative; }

.text-seleccion {
  font-size: 12px !important;
  font-weight: 800 !important;
  letter-spacing: 1px !important;
  margin-bottom: 8px !important; }

.formulario-busqueda {
  position: absolute;
  top: 100px;
  right: 40px;
  z-index: 9;
  width: 450px;
  border-radius: 4px !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 16px 40px !important;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 16px 40px !important; }

.seleccion {
  position: relative; }
  .seleccion span {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 8px;
    margin-top: 12px;
    display: block; }
    .seleccion span a {
      text-decoration: underline; }

.boton-seleccion, .seleccion-comuna {
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% !important;
  position: relative !important;
  text-align: left !important;
  border: 1px solid #ebebeb !important;
  border-radius: 3px !important;
  padding: 8px 11px 11px !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: normal !important;
  display: block !important;
  width: 100% !important;
  height: 48px !important;
  color: #767676 !important;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .boton-seleccion:focus, .boton-seleccion:visited, .boton-seleccion:link, .boton-seleccion:hover, .seleccion-comuna:focus, .seleccion-comuna:visited, .seleccion-comuna:link, .seleccion-comuna:hover {
    border-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none; }

.seleccion-flecha {
  position: absolute !important;
  right: 11px !important;
  top: 0px !important;
  bottom: 0px !important;
  margin: auto !important;
  pointer-events: none !important;
  display: block !important;
  height: 12px !important;
  width: 12px !important; }

.seleccion-tabs {
  position: absolute !important;
  background: white none repeat scroll 0% 0% !important;
  z-index: 3000 !important;
  min-width: 280px !important;
  border: 1px solid #ebebeb !important;
  border-radius: 3px !important;
  text-align: left !important;
  line-height: 1em !important;
  font-size: 14px !important;
  -webkit-box-shadow: rgba(26, 26, 29, 0.3) 0px 15px 46px -10px !important;
  box-shadow: rgba(26, 26, 29, 0.3) 0px 15px 46px -10px !important;
  width: 100% !important;
  left: 0px !important; }
  .seleccion-tabs a {
    color: #959a9d;
    font-size: 14px;
    display: block; }
    .seleccion-tabs a:hover {
      background-color: #eee; }

.seleccion-item {
  padding: 16px 24px; }

.hide {
  display: none; }

.active {
  display: block; }

.contacto {
  background-color: #fff;
  color: #203262;
  border-radius: 4px;
  padding: 2rem 2.5rem;
  max-height: 600px;
  -webkit-transition: max-height 0.3s ease-out;
  -o-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out; }

.contacto .title {
  font-size: 1.8rem; }

.blockNoticia {
  margin-bottom: 30px;
  position: relative; }
  .blockNoticia:hover img.vinculoNoticia {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  .blockNoticia a:hover {
    text-decoration: none; }
  .blockNoticia a .imagenNoticia {
    max-height: 300px;
    overflow: hidden;
    border-top: 3px solid #ff6b00; }
    .blockNoticia a .imagenNoticia img {
      width: 100%;
      min-height: 300px;
      -o-object-fit: cover;
      object-fit: cover;
      -webkit-transform: scaleY(1);
      -moz-transform: scaleY(1);
      -o-transform: scaleY(1);
      -ms-transform: scaleY(1);
      transform: scaleY(1);
      -webkit-transition: all 0.7s ease-in-out;
      -moz-transition: all 0.7s ease-in-out;
      -o-transition: all 0.7s ease-in-out;
      -ms-transition: all 0.7s ease-in-out;
      transition: all 0.7s ease-in-out; }
  .blockNoticia a .preNoticia {
    background-color: #222222;
    padding: 12px 15px; }
    .blockNoticia a .preNoticia h4 {
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 18px;
      padding: 10px 0;
      color: #e9701f; }
    .blockNoticia a .preNoticia p {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 13px;
      padding: 0 0 10px 0;
      color: #ffffff; }

.noticias-relacionadas h3 {
  color: #2B2C47;
  margin-bottom: 30px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center; }

/**
 * Tabs
 */
.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.tabs label {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  display: block;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background: #1e53de;
  color: #ffffff;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  font-size: 12px;
  border-radius: 6px 6px 0 0;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee; }

.tabs .tab {
  -webkit-box-ordinal-group: 100;
  -ms-flex-order: 99;
  order: 99;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem 0; }

.tabs input[type="radio"] {
  display: none; }

.tabs input[type="radio"]:checked + label {
  background: #fff;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  color: #1e53de; }

.tabs input[type="radio"]:checked + label + .tab {
  display: block; }

.contenido-tab > * {
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease; }

[type=radio]:checked ~ label ~ .contenido-tab {
  z-index: 1; }

[type=radio]:checked ~ label ~ .contenido-tab > * {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0); }

.tag-precio {
  overflow: visible;
  display: inline-block;
  margin-bottom: 35px; }

.precio-simbolo {
  margin-right: 10px; }

.precio-simbolo, .precio-numero {
  float: left;
  font-size: 44px;
  font-weight: 300; }

.lugares {
  float: left;
  width: 25%; }

/* Style the buttons that are used to open the tab content */
.lugares button {
  display: block;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  background-color: #ffffff; }

/* Change background color of buttons on hover */
/* Create an active/current "tab button" class */
.lugares button.active {
  border-left: 3px solid #cf600f; }

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 70%;
  border-left: none;
  height: 300px; }
  .tabcontent p {
    color: #010101;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 5px; }

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    -webkit-box-ordinal-group: initial;
    -ms-flex-order: initial;
    order: initial; }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem; } }

.modal-zoom-large-photo-wrap img {
  margin: 0 auto;
  max-height: 500px; }

.modal-zoom-large-photo-wrap {
  text-align: center;
  height: 520px;
  overflow: hidden;
  width: 100%; }

.wrapped {
  position: relative;
  width: 500px;
  height: 370px;
  overflow: hidden; }

.absolute {
  position: absolute; }

.modal-zoom-large-photo-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 0 0 0;
  -ms-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transform: translate(0, 0) scale(1);
  -ms-transform: translate(0, 0) scale(1);
  transform: translate(0, 0) scale(1); }

.zoom-out-cursor {
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.zoom-in-cursor {
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }

.modal-dialog {
  max-width: 600px; }
  .modal-dialog img {
    width: 100%; }

.interiores-mapa img {
  width: 100%; }
